{% extends 'base.html' %}
{% load static %}

{% block js %}
<script src="{% static 'services/account/account.js' %}"></script>
<script>
    $("#shelveModal").on("shown.bs.modal", function (event) {
        const button = event.relatedTarget
        const accountId = button.getAttribute('data-bs-account-id')
        const accountDescription = button.getAttribute('data-bs-account-description')

        const modalAccountDescription = document.querySelector('.modal-account-description')
        const modalAction = document.querySelector('.modal-action')

        modalAccountDescription.textContent = accountDescription
        console.log('accountId', accountId)
        console.log(`contas/${ accountId }/arquivar`)
    })

    // const shelveModal = document.getElementById('shelveModal')
    // shelveModal.addEventListener('show.bs.modal', (event) => {
    //     const button = event.relatedTarget
    //     const account_id = button.getAttribute('data-bs-account-id')
    //     const account_description = button.getAttribute('data-bs-account-description')

    //     const modelBody = document.querySelector('.modal-account-description')

    //     modalBody.textContent = account_description
    // })
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Todas as contas</h1>
        <p class="lead">Cadastre todas as suas contas bancárias aqui.</p>
    </div>
    <div>
        <div class="row">
            {% for account in accounts %}
            <div class="col-md-6">
                <!-- <a class="text-dark" href="{% url 'accounts:detail' pk=account.id %}"> -->
                    <div class="card shadow-sm border-0 mb-4">
                        <div class="card-header d-flex bg-transparent border-0">
                            <img src="{{ account.financial_institution.logo }}" class='logo-financial-institution'>
                            <div class="fs-5 ms-2">
                                <span class="align-middle">{{ account.description }}</span>
                            </div>
                            <div class="ms-auto">
                                <div class="dropdown">
                                    <a class="" id="dropdown-account" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="align-middle">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-three-dots-vertical mt-2" viewBox="0 0 16 16">
                                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                            </svg>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown-account">
                                        <li><a class="dropdown-item" href="{% url 'accounts:detail' pk=account.id %}">Detalhes</a></li>
                                        <li><a class="dropdown-item" href="{% url 'accounts:update' pk=account.id %}">Editar</a></li>
                                        <li>
                                            <button
                                                class="dropdown-item"
                                                data-bs-toggle="modal"
                                                data-bs-target="#shelveModal"
                                                data-bs-account-id="{{ account.id }}"
                                                data-bs-account-description="{{ account.description }}"
                                            >
                                                Arquivar
                                            </button>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Reajustar saldo</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="text-muted">Saldo atual</p>
                                <p class="text-muted">{{ account.display_current_balance }}</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="text-muted">Tipo de conta</p>
                                <p class="text-muted">{{ account.display_account_type }}</p>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent text-end">
                            <a href="">Adicionar Despesa</a>
                        </div>
                    </div>
                <!-- </a> -->
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">anteior</a>
                    {% endif %}
            
                    <span class="current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">próximo</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <a href="{% url 'accounts:create' %}" class="float d-flex justify-content-center align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </a>
</div>
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="shelveModal" tabindex="-1" aria-labelledby="shelveModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shelveModalLabel">Arquivar conta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p>Arquivar conta é uma opção muito útil quando temos aquela conta que não movimentamos mais e desejamos apenas tirá-la da relação de contas, mantendo os lançamentos vinculados a ela.</p>
                    <p>Você tem certeza que deseja arquivar a conta <b class="modal-account-description"></b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
                    <a type="button" class="btn btn-primary modal-action">Arquivar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}