{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <div class="d-flex d-flex justify-content-evenly align-items-center month">
        <div class="">
            <i class="bi bi-chevron-left fs-5"></i>
        </div>
        <h5 class="text-center">Maio</h5>
        <div class="">
            <i class="bi bi-chevron-right fs-5"></i>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_css %}
<style>
    .month {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        max-width: 400px;
    }

    .month h5 {
        margin: 0;
    }
</style>
{% endblock %}

{% block js %}
<script>
    console.log('teste')
</script>
{% endblock %}
