{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/money-bag-16x16.png' %}">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    {% block custom_css %}
    {% endblock custom_css %}
  </head>
  <body class="d-flex flex-column">
    {% block body %}

    {% if messages %}
    <div>
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    
    <main class="form-signin w-100 m-auto">
    {% block content %}
    {% endblock %}
    </main>

    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
