{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% if process == "connect" %}
  <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

  <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
  {% else %}
  <div class="ms-5">
    <h1>{% blocktrans with provider.name as provider %}Logar através do {{ provider }}{% endblocktrans %}</h1>

    <p>{% blocktrans with provider.name as provider %}Você está prestes a fazer login usando uma conta de terceiros do {{ provider }}.{% endblocktrans %}</p>
  </div>
  {% endif %}

<form method="post">
  {% csrf_token %}
  <button class="btn btn-primary ms-5" type="submit">{% trans "Continue" %}</button>
</form>
{% endblock %}
