
{% extends 'base-structure.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block custom_css %}
  {{ block.super }}
  <style>
    #app {
      min-height: 100%;
      position: relative;
    }
  </style>
{% endblock custom_css %}

{% block open_vue %}
    <section name="vue-wrapper" id="app">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block close_vue %}
    </section>
{% endblock %}

{% block main_js%}
<script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
{% endblock %}

{% block js %}
  {% render_bundle 'app' %}
{% endblock js %}
